<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <link rel="shortcut icon" href="http://www.tcsmedia.co.uk/wp-content/themes/agency-pro/assets/images/icons/favicon.ico" />
  <link href="http://bootswatch.com/cerulean/bootstrap.css" rel="stylesheet">
  <link href="http://bootswatch.com/assets/css/bootswatch.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>

           body{   background-color: #3B2F63;
background-image: -webkit-radial-gradient(50% top, rgba(84,90,182,0.6) 0%,rgba(84,90,182,0) 75%),-webkit-radial-gradient(right top, #794aa2 0%,rgba(121,74,162,0) 57%);
background-image: radial-gradient( at 50% top, rgba(84,90,182,0.6) 0%,rgba(84,90,182,0) 75%),radial-gradient( at right top, #794aa2 0%,rgba(121,74,162,0) 57%);
background-repeat: no-repeat;
background-size: 100% 1000px;
color: #c7c0de;
margin: 0;
padding: 0;
             font-family: "BentonSans", "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
           }
.grow img {
  height: 300px;
  width: 300px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
.pic {
  border: 10px solid #fff;  
  float: left;
  height: 300px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
   
  -webkit-box-shadow: 5px 5px 5px #111;
          box-shadow: 5px 5px 5px #111;  
} 
.grow img:hover {
  width: 400px;
  height: 400px;
}
 
  </style>
</head>
<body>
    <div class="container">

<%= yield %>


  
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="http://bootswatch.com/assets/js/bootswatch.js"></script>
  <footer>
        <div class="row">
          <div class="col-lg-12">

            <ul class="list-unstyled">
              <li class="pull-right"><a href="#top">Back to top</a></li>
              <li><a href="https://twitter.com/empiresoftworld">Twitter</a></li>
              <li><a href="https://github.com/empiresoftworld/blog/">GitHub</a></li>
            </ul>
            <p>Made by <a href="http://capost.in" rel="nofollow">Ajay Gupta</a>. Contact him at <a href="mailto:dev@capost.in">dev@capost.in</a>.</p>
          </div>
        </div>

      </footer>
  </div>
</body>
  </html>
